body{
    display: flex;
    justify-content: center;
    background: rgb(174,238,175);
    background: radial-gradient(circle, rgba(174,238,175,1) 0%, rgba(148,187,233,1) 100%);
    font-family: sans-serif;
}
.form{
    display: flex;
    margin-top: 100px;
    width: 900px;
    height: 700px;
}
form{
    background-color: white;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
}
.contact{
    border: 2px solid black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.contact:hover{
background-color: white;
color: black;
}
.contacts{
    width: 250px;
    height: 25px;
}
.right-side{
    width: 400px;
    height: 700px;
    background-color: rgb(70, 187, 132);
    border-radius: 0px 20px 20px 0px;
}